.kontejner/*kontejner za karticu i projekciju*/
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-grow:1;
    margin: 4px;
    width: 100%;
    flex-wrap: wrap;

}
.labelaNaslov/*Naslovi za forme za unos*/
{
    display: flex;
    margin: 10px;
    color: gray;
    font-style: oblique;
    font-size: 25px;
    text-decoration: underline;
}
.forme/*za karticu i za projekciju*/
{
    display: flex;
    flex-direction: column;
    border: 2px solid lightgray;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
    background-color:white;
    flex-basis: 550px;

}

.radioButtonsClass/*radio buttons za karticu*/
{
    display: flex;
    align-self: center;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2px;
}

.btnDodaj/*stil za dugmad*/
{
    display: flex;
    flex-grow: 0;
    align-self: flex-end;
    color: gray;
    border: 2px solid gray;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    justify-content: baseline;
    align-items: baseline;
}
.inputi/*inputi kod kartice i projekcije*/
{
    display: flex;
    background-color:white;
    border: 0px;
    border-bottom: 2px solid lightgrey;
    margin: 10px;
    text-align: start;
    outline: none;
    flex-grow: 1;
    font-size: 20px;
    
}
.kontejnerZaSelekcije/*Kontejner za selekciju velicine sale kod forme za projkeciju*/
{
    display: flex;
    flex-direction: row;
}
.inputi1/*Dodatna klasa za inpute koji su blokirani*/
{
    border: 0ch;
    
}
.labelaRadio/*Labele za radio buttone*/
{
    color: gray;
}

.datum{/*Stil za datum*/
    display: flex;
    align-self: center;
    flex-grow: 1;
    border: 2px solid gray;
    border-radius: 5px;
    color: grey;
}
.select/*Stil za selektore*/
{
    display: flex;
    flex-grow: 0;
    flex-basis: 40px;
    width: 50px;
    border: 2px solid lightgray;
    color: gray;
    margin: 10px;
}
.kontejnerDatum/*Kontejner za input datum(labela) i pravi input datum*/
{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
body/*body stil*/
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0%;
    justify-content: space-around;
}

/*BIOSKOP*/

.red/*red u bioskopskoj sali*/
{
    display: flex;
    flex-direction: row;
    border: 1px solid gray;
    justify-content: space-between;
    overflow: hidden;
    list-style-position: inside;
    flex-grow: 1;
    margin: 1px;
    border-radius: 3px;
}
.sediste/*sediste u bioskopskoj sali*/
{
    display: flex;
    border: 3px solid black;
    background-color: brown;
    color: white;
    justify-content: center;
    align-items: center;
    flex-basis: 20px;
    flex-grow: 1;
    margin: 3px;
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
}
.pravaSala/*sala gde se nalaze redovi i sedsita*/
{
    display: flex;
    flex-direction: column;
    margin: 0%;
    flex: 3;
    justify-content: space-between;
    flex-basis: 510px;
}

.bioskop/*bioskop*/
{
    display: flex;
    flex-direction: row ;
    border: 2px solid lightgray;
    border-radius: 5px;
    background-color: white;
    margin: 4px;
    width: 40%;
    flex-basis: 738px;
    flex-wrap: wrap;
        
}
.formaZaKartu/*forma za kartu unutar kontejnera gde se nalazi forma za kartu i info za film*/
{
   display: flex;
   flex-direction: column;
   order: 2;
   justify-content: space-between;
   align-items: center;
   flex-basis: 250px;
   border: 2px solid lightgray;
   border-radius: 5px;
}
.kontejnerKartaInfo/*kontejner za kartu i info o filmu*/
{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    margin-left: 5px;
    margin-right: 5px;
    justify-content: center;
    align-items: center;
    flex-basis: 70px;
    flex-shrink: 0;
}
.elInfoSala/*Elementi info za salu*/
{
    color: gray;
}
.kontejnerInfo/*kontejner za info o filmu koji se nalazi unutar kontejnerKartaInfo*/
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.buttonSala/*Dugme za brisanje sale*/
{
    display: flex;
    align-self: center;
    text-align: center;
    order: 3;
    margin-top: 10px;
    margin-bottom: 0px;
    padding: 10px;
    border-radius: 8px;
    color: gray;
    border: 2px solid gray;
    border-radius: 5px;
    font-size: 20px;
    flex-grow: 0;
}
.btnKupi
{
    font-size: 15px;
}
.kontejnerZaBioskope/*Kontejner gde idu bioskopi*/
{
    display: flex;
    flex-grow: 1;
    width: 100%;
    border: 5px soldi black;
    flex-direction: row;
}
.kontejnerSedistaKarta
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-self: stretch;
    color: gray;
}
.labelaOznakaSedista
{
    margin: 1px;
}
.input2
{
    background-color:white;
    border: 0px;
    border-bottom: 2px solid lightgrey;
    margin: 10px;
    text-align: start;
    outline: none;
    font-size: 15px;
}
input[type=number] {
    -moz-appearance: textfield;
  }
  input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input:invalid {
    border:3px solid red;
    border-radius: 5px;
  }