@media only screen and (max-width: 850px) {/*za flex dizajn*/
    .bioskop
    {
        display: flex;
        flex-direction: column ;
        border: 7px solid gray;
        background-color: rgb(179, 179, 179);
        border-radius: 5px;
        margin-top: 15px;
        
    }
  }

.kontejner/*kontejner za karticu i projekciju*/
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    flex-grow: 1;
    height: 450px;
    flex-basis: 720px;
    margin: 4px;

}
.forme/*za karticu i za projekciju*/
{
    display: flex;
    flex-grow: 0;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-basis: 230px;
    border: 7px solid gray;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
    background-color:rgb(179, 179, 179);

}

.radioButtonsClass/*radio buttons za karticu*/
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    border: 2px solid black;
    border-radius: 4px;
    width: 149.6px;
}
.inputVelicina/*inputi za velicinu sale kod projekcije*/
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(179, 179, 179);
    border: 2px solid black;
    border-radius: 4px;
    margin-bottom: 10px;
    text-align: center;
}
.btnDodaj/*stil za dugmad*/
{
    display: flex;
    margin-top: 10px;
    margin-bottom: 0px;
    border: 1px solid black;
    background-color: darkred;
    color: white;
    text-align: center;
    font-size: 15px;
    padding: 10px;
    border-radius: 8px;
}
.labele/*labele kod kartice i projekcije*/
{
    font-weight: bolder;
    font-size: large;
    color:darkred;
    margin-bottom: 0px;
}
.inputi/*inputi kod kartice i projekcije*/
{
    background-color: rgb(179, 179, 179);
    border: 2px solid black;
    border-radius: 4px;
    margin-bottom: 10px;
    text-align: center;
}
body/*body stil*/
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: lightblue;
    flex-wrap: wrap;
}
.red/*red u bioskopskoj sali*/
{
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    justify-content: space-between;
    overflow: hidden;
    list-style-position: inside;
    flex-grow: 1;
}
.sediste/*sediste u bioskopskoj sali*/
{
    display: flex;
    border: 3px solid darkred;
    justify-content: center;
    align-items: center;
    flex-basis: 20px;
    flex-grow: 1;
    margin: 1px;
}
.pravaSala/*sala gde se nalaze redovi i sedsita*/
{
    display: flex;
    flex-direction: column;
    margin: 0%;
    flex: 3;
    justify-content: space-between;
}

.bioskop/*bioskop*/
{
    display: flex;
    flex-direction: row ;
    border: 3px solid gray;
    background-color: rgb(179, 179, 179);
    height: 450px;
    margin: 4px;
    flex-basis: 720px;
    flex-grow: 1;
        
}
.formaZaKartu/*forma za kartu unutar kontejnera gde se nalazi forma za kartu i info za film*/
{
   display: flex;
   flex-basis: 350px;
   height: 500px;
   border: 3px solid black;
   order: 1;
}
.kontejnerKartaInfo/*kontejner za kartu i info o filmu*/
{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    margin-left: 5px;
    margin-right: 5px;
}
.kontejnerInfo/*kontejner za info o filmu koji se nalazi unutar kontejnerKartaInfo*/
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.pomKont/*pomocni kontejner za lepo slaganje*/
{
    display: flex;
    order: 1000;
    flex-grow: 1;
    flex-basis: 720px;
    margin: 4px;
}
.buttonSala
{
    display: flex;
    align-self: center;
    text-align: center;
    order: 3;
    margin-top: 10px;
    margin-bottom: 0px;
    border: 3px solid black;
    background-color: rgb(179, 179, 179);
    color:black;
    font-size: 15px;
    padding: 10px;
    border-radius: 8px;
}